<nav id="nav">
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>数据库管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/db" data-page="dashboard">库管理</a></li>
                <li><a href="/admin/table" data-page="os">表管理</a></li>
                <li><a href="/admin/field" data-page="os">字段管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>模板管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/temp_catalog" data-page="dashboard">模板分类</a></li>
                <li><a href="/admin/template" data-page="os">模板列表</a></li>
                <li><a href="/admin/add_template" data-page="os">添加模板</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>项目管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/project" data-page="dashboard">项目列表</a></li>
            </ul>
        </dd>
    </dl>
</nav>